.game_holder{
  position: absolute;
    border: 2px solid whitesmoke;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: 1px 0px 2px 2px #ccc;
}
.player{
  display: block;
  border:1px solid green;
  background-color: green;
  width:1%;
  height:2%;
  position: relative;
  margin-left: 0%;
  top:0%;
  border-radius: 100%;
}
.block{
  position: relative;
  border:1px solid #FFFFFF;
  background-color: #000000;
  width:1%;
  height:2%;
  border-radius: 100px;
  margin-left: 51.75%;
  top:97%;
}
.user_info{
  position: absolute;
  top:10%;
  margin-left:35%;
  width:19%;
  height:200px;
  float: right;
  border:1px solid red;
}
.main_hold{
  border:1px solid red;
}
.info_hold{
  width: 60%;
  margin-left: 20%;
  padding-top: 20%;
}
input[type=text] {
  border-radius: 1%;
  padding:1%;
  border:1px solid #8842d5;
}
.button {
  border:1px solid #8842d5;
  background-color: #8842d5;
  color:#FFFFFF;
  margin-left: 40%;
  font-family: helvetica;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5%;
}
.footer{
  border: 1px solid green;
    height: 30px;
    bottom: 0%;
    position: absolute;
    width:101.4%;
    margin-left: -2%;
}
.user_data{
  margin-left:2%;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
}
span{
  padding-left: 5%;
}
.screen{
  border:1px solid transparent;
}
.board_score{
  margin-left: 20%;
  font-family: Helvetiva;
  font-size:12px;
  font-weight: 200;
}
#scoreboard{
  padding-top: 1%;
}
button{
  margin-left: 1%;
}
