.container{
	width:90%;
	margin-left:5%;
	border: .75px solid #FFFFFF;
	padding-top:8px;
	padding-bottom:15px;
	padding-left:5px;
	background-color:#f1f8fe;
	margin-top:20px;
    box-shadow: 1px 2px 4px 5px #ccc;
}
.title{
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
}
img{
	width: 100px;
    height: 100px;
    border-radius: 75px;
}
.subtitle{
	font-family:Helvetica;
	font-size:12px;
	font-weight:normal;
	padding-bottom:2px;
	text-decoration:none;
	margin-left:5px;
	color:#000000;
}
.emp_head{
	font-family:Helvetica;
	font-size:12px;
	padding-bottom:2px;
	text-decoration:none;
	margin-left:5px;
	color:#000000;
}
li{
	font-family:Helvetica;
	font-size:11px;
	font-weight:normal;
	margin-left:15px;
}
button{
	border-radius:5px;
	border:1px solid transparent;
	background-color:#3f51b5;
	color:#FFFFFF;
	padding:3px;
	padding-right:8px;
	padding-left:8px;
	font-family:cursive;
	font-size:12px;
	cursor:hand;
}
.job_desc{
	margin-left:10px;
}
.first_div, .second_div{
	width:49%;
}
.second_div{
	float:right;
}
.header{
	background-color:#3f51b5;
	width:100%;
	margin-left:-0.5%;
	margin-top:-0.5%;
	padding:0.5%;
	padding-bottom:1%;
}
#fb{
	background-color:#3578E5;
}
#insta{
	background-color: #833AB4; /* For browsers that do not support gradients */
   background-image: linear-gradient(#833AB4, #F77737);
}
#git{
	background-color: #FFFFFF;
	color:#000000;
	border:1px solid whitesmoke;
}
.holder{
	margin-left:0.5%;
	color:#FFFFFF;
	font-family:Helvetica;
	font-weight:bold;
	font-size:13px;
}
.main_contain{
	width:60%;height:240px;margin-left:20%;margin-top:5%;
}
.sub_contain{
	width:100%;height:32%;
}
.inner_contain{
	height:100%;width:30.25%;
	border:2px solid white;
	float:left;
	background-color:#f1f8fe;

}
.text{
	font-family:Helvetica;
	font-size:11px;
	margin-left:8%;
	font-weight:bold;
}
#algorithm{
	position: relative;
	-webkit-animation-name: algo;
  	-webkit-animation-duration: 10s;
}
#database{
	position: relative;
	-webkit-animation-name: database;
  	-webkit-animation-duration: 10s;
}
#compilers{
	position: relative;
	-webkit-animation-name: compilers;
  	-webkit-animation-duration: 10s;
}
#cyber{
	position: relative;
	-webkit-animation-name: cyber;
  	-webkit-animation-duration: 10s;
}
#os{
	position: relative;
	-webkit-animation-name: os;
  	-webkit-animation-duration: 10s;
}
#ml{
	position: relative;
	-webkit-animation-name: ml;
  	-webkit-animation-duration: 10s;
}
#data{
	position: relative;
	-webkit-animation-name: data;
  	-webkit-animation-duration: 10s;
}
#web{
	position: relative;
	-webkit-animation-name: web;
  	-webkit-animation-duration: 10s;
}
#cloud{
	position: relative;
	-webkit-animation-name: cloud;
  	-webkit-animation-duration: 10s;
}
#hidden_div{
	margin-top:2%;
}
.cancel_btn{
	margin-left:95%;

}
.main{
	display:block;
}
.links{
	font-family:Helvetica;
	font-size:12px;
	font-weight:bold;
	color:#101e6d;
}
#pop_up{
	width:56%;
	display:none;
	background-color:#f1f8fe;
}
#heading_text{
	font-size: 12px;
    font-weight: bold;
    margin-left: 1%;
}

@media screen and (max-device-width: 480px){
	.second_div .container{
		display:none;
	}
	.second_div{
		position:absolute;
		bottom:15%;
		margin-left: 20%;
	}
	.second_div button{
		height: 120px;
    	width: 120px;
		font-size:25px;
		border-radius:100px;
		display:none;
	}
	.second_div #email{
		background-color:transparent;
	}
	.second_div #insta{
		position:absolute;
		top:-70%;
		margin-left:117%;
		animation: circle 10s linear infinite;
		transform-origin:bottom left;
	}
	.second_div #git{
		top:-15%;
		margin-left:72%;
	}
	.second_div #fb{
		position:absolute;
		top:100%;
		margin-left:100%;
	}

	.first_div{
		width:90%;
	}
	.container{
		width:100%;
	}
	img{
		width: 140px;
    height: 140px;
    border-radius: 150px;
    position: absolute;
    bottom: 16%;
    margin-left: 23%;
	}
	.header{
		height:75px;
	}
	.holder{
		display:none;
	}
	.title{
		font-size:12px;
	}
	.subtitle{
		font-size:11px;
	}
	.container li{
		font-size:10px;
	}
	@keyframes circle {
    from { 	transform: rotate(0deg) translateX(50px); }
	to   {  transform: rotate(360deg) translateX(50px); }
	}
	.main_contain{
		display:none;
	}

}
